<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="templatemo_wrapper">
      <div id="templatemo_header">
        <%= render '/refinery/header' -%>
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
      <div id="templatemo_footer_wrapper">
        <%= render '/refinery/footer' -%>
      </div> <!-- end of templatemo_footer_wrapper -->
    <%= render '/refinery/javascripts' %>
  </body>
</html>
